@font-face {
    font-family: "Ramilias";
    src: url("../fonts/Ramilias-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: "Ramilias", Georgia, serif;
    color: rgb(51, 81, 51);
}

#container-2 {
    width: 100%;
    margin-bottom: 2em;
}

.banner {
    width: 100%;
    height: auto;
}


#wrapper1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* gap: 2em; */
    padding: 2em 0;
    margin-bottom: 2rem;
}

.map-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
}

.contact-form,
.map-location {
    min-height:60vh;
    flex: 1 1 500px;
}

.contact-form h1,
.map-location h1 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
    color: rgb(0, 105, 62);
    background-color: #f0f0f0;
    padding: 40px 0;
}


.map-location iframe {
    width: 100%;
    max-width: 700px;
    height: 600px;
    display: block;
    padding: 40px
}
form {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
}

.input-control label {
    padding: 0.8em 0 0.2em 0.5em;
    font-size: 1.5rem;
}

input[type=text],
textarea {
    width: 100%;
    padding:12px;
    margin: 2px 0 14px 0;
    border-radius: 20px;
    border:none;
    background-color: rgba(106, 136, 119, 0.384);
}

form button {
    display: flex;
    align-items: center;
    font-family: "Recoleta", Georgia, serif;
    font-size:20px;
    gap:10px;
    margin-top: 30px;
    padding: 6px 24px;
    border: none;
    border-radius: 15px;
    color:white;
    background: linear-gradient(90deg,#779b86,#97bca7);
}

form img {
    height:24px;
    filter: brightness(0) invert(1);
}

input[type=text]:focus,
textarea:focus {
    border:2px solid rgb(51, 81, 51);; 
    outline:none;
    background-color: rgba(156, 192, 171, 0.51);
}

form button:hover  {
    color: rgba(0, 0, 0, 0.673);
    border: solid 1px rgb(51, 81, 51);
}

form button:hover img {
    filter: brightness(0);
}

/*form validation*/
#error1, #error2, #error3, #error4{
    color: red;
    text-align: right;
}

#thankyou{
    padding-top: 10em;
    text-align: center;
    font-size: 18px;
}

/* MEDIA QUERIES */
/* media query for iPads/tablets */
@media (max-width:992px){
    .contact-form h1,
    .map-location h1 {
        padding: 20px 0;
    }
    #wrapper1 {
        padding: 2em 0;
    }
    .map-location iframe {
        max-width: 600px;
        height: 400px;
    }
}

@media (max-width:768px) {
    .footer-nav{
    display: none;
    }
    #cform{
        width: 90%;
    }
}

@media (max-width:480px) {
    .contact-form h1,
    .map-location h1 {
        font-size: 1.5rem;
    }
    .map-location iframe {
        max-width: 600px;
        height: 200px;
        padding: 20px
    }

    .map-location {
        min-height: 30vh;
    }
   
}
